<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyb.production.mapper.MachinePlanMapper">

    <select id="isFull" resultType="java.lang.Boolean">
        SELECT
	(
		SELECT
			sum(scheduled_production) AS total
		FROM
			machine_plan
		WHERE
			production_date = #{productionDate}
	) = (
		SELECT
			sum(daily_production)
		FROM
			productivity
		WHERE
			productivity.product_code = (
				SELECT DISTINCT
					product_code
				FROM
					machine_plan
				WHERE
					production_date = #{productionDate}
			)
	)
    </select>
	<select id="selectUnFull" resultType="com.fyb.production.entity.MachinePlan">
		SELECT
	machine_plan.*
FROM
	machine_plan,
	productivity
WHERE
	machine_plan.machine_code = productivity.machine_code
AND machine_plan.product_code = productivity.product_code
AND machine_plan.production_date = #{productionDate}
AND (
	machine_plan.scheduled_production = productivity.daily_production / 3
) = 0
	</select>
</mapper>
